# Exercises:

### Complete the code to print out Hello Python! in a formatted string.

In [9]:
message = "Python"
Greeting = "Hello {}!" 
print(Greeting.format(message))

Hello Python!

### Correct the following code to:

- Perform the arithmetic operation on a and b.
- Perform concatenation on a and b.

In [13]:
a = 5
b = "10"

# perform addition expected output is 15
addition = float(a) + float(b)
print(addition)

# perform concatenation expected output is 510
concatenation = str(a) + str(b)
print(concatenation)

15.0
510

### Complete the code to extract and print out the domain name from the email address.

In [20]:
email = "python_dev@estarta.com"

# extract domain from email
domain = email[email.find('@')+1:]
print(domain)

estarta.com

### Perform the following operations on the "Cars" list:

In [43]:
cars = ["Toyota", "Mercedes", "BMW", "Jeep"]

# add "Honda" to the list
new_model = "Honda"

cars.append(new_model)

# replace the second element with "Ford"
cars[1] = "Ford"

# remove Toyota from the list
try:
    cars.remove("Toyota")
except:
    print("Toyota not found.")

print(cars)

# print True if Subaru is in the list else False
print("Subaru" in cars)

new_model = "Subaru"

cars.append(new_model)

print("Subaru" in cars)

['Ford', 'BMW', 'Jeep', 'Honda']
False
True

### Complete the code to do the following:

- Create a new dictionary with the following key-value pairs: "name": "Ahmad", "age": 25, "occupation": "doctor", "country": "Jordan"
- Add a new key-value pair with "city": "Amman"
- Update the occupation to "Surgeon"
- Remove the "country" key-value pair from the dictionary.
- print out the updated dictionary.

In [66]:
# complete the code to perform the operations listed above

# Create a new dictionary with the following key-value pairs: "name": "Ahmad", "age": 25, "occupation": "doctor", "country": "Jordan"
person = {"name": "Ahmad", "age": 25, "occupation": "doctor", "country": "Jordan"}

# Add a new key-value pair with "city": "Amman"
person.update({"city": "Amman"})

# Update the occupation to "Surgeon"
person["occupation"] = "Surgeon"

# Remove the "country" key-value pair from the dictionary.
del person["country"]

# print out the updated dictionary.
print(person)

{'name': 'Ahmad', 'age': 25, 'occupation': 'Surgeon', 'city': 'Amman'}

### Complete the folowing opertasions on the "numbers" set:

- Check if 4 is in the set.
- Add 5 to the set.
- Remove 3 from the set.
- Try to add a duplicate element to the set.
- Create a new set that contains numbers from in the range of m+1 to m+10, where m is the maximum number in the "numbers" set.
- Create a set that is the union of the two sets.

In [65]:
numbers = {2, 5, 16, 8, 7, 9, 3, 1}

# your code here

# Check if 4 is in the set.
print ( 4 in numbers )

# Add 5 to the set.
numbers.add(5)

# Remove 3 from the set.
numbers.remove(3)

# Try to add a duplicate element to the set.
# set will remove duplicates which can be bypassed if switched to list.
list(numbers)
numbers.add(16)
set(numbers)

# Create a new set that contains numbers from in the range of m+1 to m+10, where m is the maximum number in the "numbers" set.

numbers=list(numbers)
new_set= range(numbers[-1]+1,numbers[-1]+11)

new_set=set(new_set)
print(new_set)

# Create a set that is the union of the two sets.
union = new_set.union(numbers)

# print the union of the two sets
print(union)

print(numbers)

False
{17, 18, 19, 20, 21, 22, 23, 24, 25, 26}
{1, 2, 5, 7, 8, 9, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26}
[1, 2, 5, 7, 8, 9, 16]